h1 {color:red}

#p {font-size: 30px;font-style:normal;}

h3 {font-size: 40px;}

#p3 {font-style: italic;}

#p4 {font-size: 25px;}

h2 {font-size: 15px;}

h5 {color:rgb(0, 195, 255);background-color: black;}
    